@media screen and (max-width: 540px) {
    /* .body {
        width: 400px;
    } */
    nav{
        display: none;
    }
    .search-bar{
        background: none;
    }
    .search-bar input{
        display: none;
    }
    .action-bar p {
        display: none;
    }
    .search-bar span{

        right: 0;
    }
    .search-bar span, .action-container span{
        font-size: 40px;
    }
    .bag-item-count{
        height: 30;
        font-size: 8px;
    }
    .hero-banner{
        overflow: hidden;
    }
    .hero-banner img{
        width:660px;
    }
    .brand-section h2{
        font-size: 22px;
    }
    .image-container img{
        width: 100%;
    }
    .footer-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */

    }
    .col{
        margin-top:20px ;
    }
    footer .footer-col h2{
        font-size: 22px;
        font-weight: 500;
    }
    footer .footer-col .links-container a{
       font-size: 18px;
    
    }

    /* ==================== Cart styling================= */
    nav a{
        display: none;
    }
    .cart-view{
        width: 100%;
        flex-direction: column;
        margin-left: 0%;

    }
    .product-view-list{
        width: 100%;
        padding: 5px;
    }
    .item-selection input{
        /* width: 20px; */
        margin-right: 0;
    }   
    .item-selection div button{
        border: none;
        font-size: 8px;
        color: rgb(92, 90, 90);
        padding-right: 0px;
    }
    .item-selection div .first-child{
        border-right: 0px solid rgb(193, 192, 192);
        border-radius: 0px;
        padding: 8px 12px;
    
    }
    .item-selection div button:nth-child(2){
        display: none;
    }
    .action-container img{
        width: 30px;
        margin-right: 20px;
    }
    .logo-container a img{
        margin-left: 20px;
    }
}